.popup-form__save{
    font-family: 'Inter','Arial',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    margin: 48px auto 37px;
    background-color: black;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    width: 358px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.popup-form__save:hover{
    opacity: .8;
}

@media screen and (max-width: 768px) {
    .popup-form__save{
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        width: 238px;
        margin: 45px auto 25px;
    }
}