.popup__save{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin: 14px auto 0;
}

@media screen and (max-width: 768px) {
    .popup__save{
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}