.elements{
    max-width: 880px;
    margin: 46px auto 0;
    display: grid;
    grid-template-columns: repeat(3, 282px);
    column-gap: 17px;
    row-gap: 20px;
}

@media screen and (max-width: 915px) {
  .elements{
    margin: 46px auto 0;
    max-width: 584px;
    grid-template-columns: repeat(2, 282px);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }
}

@media screen and (max-width: 768px) {
    .elements{
      margin: 36px auto 0;
      max-width: 282px;
      grid-template-columns: 282px;
      grid-template-rows: repeat(6, 361px);
      gap: 20px;
    }
}