.profile__add-border{
    width: 150px;
    min-height: 50px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    cursor: pointer;
}

.profile__add-border:hover{
    opacity: 0.6;
}

@media screen and (max-width: 768px) {
    .profile__add-border{
      width: 282px;
      margin: 36px 0 0;
    }
}