.popup-view__close{
    width: 32px;
    height: 32px;
    margin-right: -40px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../../images/CloseIcon.svg);
    transition: opacity .6s;
    cursor: pointer;
    align-self: end;
}

@media screen and (max-width: 768px) {
    .popup-view__close{
        width: 20px;
        height: 20px;
        margin-right: 0;
    }
}

.popup-view__close:hover {
    opacity: .6;
  }